/* src/components/Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-size: 1.2rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  padding: 0 20px;
  z-index: 1;
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
}

.nav-item {
  margin: 0 10px;
  height: 80px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0 1rem;
  transition: background 0.3s ease-in-out;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.nav-links:hover {
  background-color: #555;
  border-radius: 4px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

.navbar-logo-img {
  margin-right: 10px; /* Adjust the margin as needed */
  height: 40px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
}

/* Other existing styles */

.dropdown-menu {
  display: none;
  position: absolute;
  background: #333;
  top: 80px;
  list-style: none;
  text-align: left;
  padding: 0;
}

.dropdown-item {
  background: #333;
  padding: 0.5rem 1rem;
}

.dropdown-links {
  color: #fff;
  text-decoration: none;
}

.dropdown-links:hover {
  background-color: #555;
}

.nav-item:hover .dropdown-menu {
  display: block;
}
